<div class="flex-row">
  <div class="gallery flex-row__item flex-row__item--1">
    <div class="gallery__list">
      <div ng-click="detailsCtrl.showGallery($index)" ng-class="$index === 0 ? 'gallery__preview' : 'gallery__thumb'" ng-repeat="photo in detailsCtrl.photosCollection track by $id(photo.photo_reference)">
        <google-photo reference="photo.photo_reference"></google-photo>
      </div>
    </div>
   </div>
  <div class="content flex-row__item flex-row__item--2">
    <div class="card card--main">
      <h1 class="card__title card__title--main">{{detailsCtrl.bar.name}}</h1>
      <p class="card__address">{{detailsCtrl.bar.formattedAddress}}</p>
      <p class="card__phone">{{detailsCtrl.bar.phoneNumber}}</p>
      <p class="card__schedule" ng-repeat="scheduleItem in detailsCtrl.schedule">{{scheduleItem}}</p>
      <a ng-href="{{detailsCtrl.bar.website}}" class="card__link" target="__blank">{{detailsCtrl.bar.website}}</a>
      <div data-rating-role="container" data-rating-class-base="rating" data-rating-class-active="__item_active" class="card__rating rating">
        <div data-rating-role="trigger" data-rating-value="{{i}}" class="rating__item" ng-class="{'rating__item_active' : detailsCtrl.isActiveStar(detailsCtrl.bar.rating, i)}" ng-repeat="i in [1,2,3,4,5]"></div>
      </div>
      <div class="card__map">
        <a ng-href="{{detailsCtrl.bar.googleUrl}}" target="__blank">
          <google-static-map lat="detailsCtrl.bar.latitude" lng="detailsCtrl.bar.longitude"></google-static-map>
        </a>
      </div>
    </div>
  </div>
</div>

<div ng-photoswipe slides="detailsCtrl.slides" open="detailsCtrl.galleryOpen" slide-selector=".gallery__list__image"
            on-close="detailsCtrl.closeGallery()" options="detailsCtrl.opts"></div>
