.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.list__item {
  margin: 0;
  padding: 15px 0;
  flex-basis: 100%;
  max-width: 100%; /*for ie bug*/
  border-bottom: 1px solid $primary-color;
}

.card--main {
  margin-bottom: 30px;
}

.card__rating {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__title {
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  font-weight: 700;
  font-size: 30px;
}

.card__title:hover {
  color: $primary-color;
}
.card__title--main {
  margin: 0;
}
.card__title--main:hover {
  color: #333;
  text-decoration: none;
}

.card__address, .card__phone, .card__rating-text {
  text-transform: none;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.card__schedule {
  margin: 0;
  font-size: 14px;
}

.card__link {
  font-size: 14px;
  display: block;
  color: $primary-color;
}

.rating {
  font-size: 0;
}

.rating:after {
  visibility: hidden;
  height: 0;
  content: '';
  display: block;
  clear: both;
}

.rating__item {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 53.867 53.867'><polygon style='fill:#415b6b;' points='26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182'/></svg>") 50% 50% no-repeat;
}

.rating__item_active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 53.867 53.867'><polygon style='fill:#81b3d2;' points='26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182'/></svg>") 50% 50% no-repeat;
}
